<main id="page-main" class="static_pages_home">
    <header id="page-main-header" class="jumbotron splash">
      <div class="container">
        <h2>An online platform for global impact collaboration.</h2>
        <%= link_to "Sign Me Up", new_user_registration_path, class: "btn btn-default btn-lg" %>
        <%= link_to "Browse Projects", browse_path, class: "btn btn-default btn-lg" %>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <section id="main-section" class="col-xs-12">
          <article id="article-1" class="row">
            <section class="col-xs-12 col-md-6 col-lg-6">
              <h2>Changing the world is hard.</h2>
              <p>That's why we're building a sleek web-app to help changemakers, NGOs, and social enterprises work together on the global challenges.<p>
            </section>
            <section class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1">
              <ol id="sdg-list">
                <li>
                  <span class="sr-only">No poverty</span>
                  <%= image_tag("Square_RGB/E_SDG goals_icons-individual-rgb-01.png", alt: "SDG_icon1", class: "img-responsive") %>
                </li>
                <li>
                  <span class="sr-only">Zero hunger</span>
                  <%= image_tag("Square_RGB/E_SDG goals_icons-individual-rgb-02.png", alt: "SDG_icon2", class: "img-responsive") %>
                </li>
                <li>
                  <span class="sr-only">Good health and well-being</span>
                  <%= image_tag("Square_RGB/E_SDG goals_icons-individual-rgb-03.png", alt: "SDG_icon3", class: "img-responsive") %>
                </li>
                <li>
                  <span class="sr-only">Quality education</span>
                  <%= image_tag("Square_RGB/E_SDG goals_icons-individual-rgb-04.png", alt: "SDG_icon4", class: "img-responsive") %>
                </li>
              </ol>
            </section>
          </article>
          <article id="article-2" class="row">
            <section class="col-xs-12 col-sm-6">
              <div>
                <h2>Multiple ways to engage.</h2>
                <p>Become a user to post or join projects.</p>
              </div>
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger btn-lg signup-btn" %>
            </section>
            <section class="col-xs-12 col-sm-3">
              <p>Post projets &amp; recruit new team members.</p>
              <%= link_to "Post Projects", post_path, class: "btn btn-default btn-lg special-btn" %>
            </section>
            <section class="col-xs-12 col-sm-3">
              <p>Contribute Solutions &amp; join existing projects.</p>
              <%= link_to "Browse Projects", root_path, class: "btn btn-default btn-lg special-btn" %>
            </section>
          </article>
          <article id="article-3" class="row">
            <section class="col-xs-12 col-sm-8">
              <h2>We invite you to join us.</h2>
              <p>Together, let's build a sustainable future for humanity.</p>
            </section>
            <section class="col-xs-12 col-sm-4">
              <%= image_tag("planet earth.png", alt: "Earth_icon", class: "") %>
            </section>
          </article>
          <article id="article-4" class="row">
            <section class="col-xs-12 col-md-7">
              <h2>Sign up for our newsletter</h2>
              <p>Lots of new features to come: community bulletins, reputation systems, prizes, and more!</p>
            </section>
            <section class="col-xs-12 col-md-5">
              <h3>Subscribe to be notified when our features launch.</h3>
              <form method="get">
                <h4>Name:</h4>
                <input type="text" class="well well-sm">
                <h4>Email:</h4>
                <input type="text" class="well well-sm">
              </form>
              <button type="submit" id="submit-btn" class="btn btn-danger btn-lg">SUBMIT</button>
            </section>
          </article>
        </section>
      </div>
    </div>
  </main>