<% provide(:title, "Log in") %>
<main id="page-main">
    <style> /* These styles are page specific */
    #page-main-header {
      background-image: url("http://placehold.it/350x65");
    }
  </style>

  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>Log in</h1>
      <p>Blah blah blah subtitle bar thingy</p>
    </div>
  </header>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
				<strong>Don't use these services?</strong>
				<%= link_to "Create an account", new_identity_path %> or login below.
			</p>

      <%= link_to "Google", "/auth/google_oauth2" %>
      <%= link_to "Facebook", "/auth/facebook" %>
      <%= link_to "Twitter", "/auth/twitter" %>
      <%= link_to "LinkedIn", "/auth/linkedin" %>
      <%= form_tag "/auth/identity/callback" do %>
        <div class="field">
          <%= label_tag :auth_key, "Email" %>
          <%= text_field_tag :auth_key %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <div class="actions"><%= submit_tag "Login" %></div>
      <% end %>

      <%= form_for(:session, url: login_path) do |f| %>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </p>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </p>
        <p>
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>
        </p>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</main>
