<div id="users-edit">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="container">
      <div class="pane-header">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        <div class="actions">
          <%= link_to "Cancel", user_path(@user.username), class:"btn btn-secondary" %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Update
          </button>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= devise_error_messages! %>
      <div class="pane-section">
        <div class="pane-section-header">
          <h2>Basic Info</h2>
        </div>
        <div class="cell-row">
          <div class="field profile-pane-cell">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="field profile-pane-cell">
            <%= f.label :username %><br />
            <%= f.text_field :username, class: "form-control" %>
          </div>

          <div class="field profile-pane-cell">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="field profile-pane-cell">
            <%= f.label :location %><br />
            <%= f.text_field :location, class: "form-control" %>
          </div>
          <div class="field profile-pane-cell">
            <%= f.label :biography %><br />
            <%= f.text_area :biography, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="pane-section">
        <div class="pane-section-header">
          <h2>Skills &amp; Experiences</h2>
        </div>
        <div class="cell-row">
          <div class="field profile-pane-cell">
            <%= f.label :experience %><br />
            <%= f.text_area :experience, class: "form-control" %>
          </div>
          <div class="field profile-pane-cell">
            <%= f.label :organization %><br />
            <%= f.text_area :organization, class: "form-control" %>
          </div>
          <div class="field profile-pane-cell">
            <%= f.label :passions %><br />
            <%= f.text_area :passions, class: "form-control" %>
          </div>
          <div class="field profile-pane-cell">
            <%= f.label :skills %><br />
            <%= f.text_area :skills, class: "form-control" %>
          </div>
          <div class="field profile-pane-cell">
            <%= f.label :work %><br />
            <%= f.text_area :work, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="pane-section">
        <div class="pane-section-header">
          <h2>Profile Image</h2>
          <div class="field">
            <%= f.label :image, class: 'sr-only' %>
            <%= f.file_field :image, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="pane-section">
        <div class="pane-section-header">
          <h2>
            Change Password
          </h2>
          <p>Leave blank to keep current password</p>
        </div>
        <%= f.label :password,
          "New Password#{ @minimum_password_length ? " (#{@minimum_password_length} characters minimum)" : "" }" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <%= f.label :password_confirmation, "Confirm New Password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="pane-section">
        <h2 class="pane-section-header">Unhappy?</h2>
        <%= button_to "Cancel My Account", registration_path(resource_name),
          data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
      </div>

      <div class="trailing-actions">
        <%= link_to "Cancel", user_path(@user.username), class:"btn btn-secondary" %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Update
        </button>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm your changes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>