<% provide(:title, 'Sign up') %>
<div class="container col-xs-12">
  <h1>Sign up</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages", object: @user %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </p>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </p>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </p>
        <p>
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation,
            class: "form-control" %>
        </p>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
