<% provide(:title, "Sign up") %>
<main id="page-main">
    <style> /* These styles are page specific */
    #page-main-header {
      background-image: url("http://placehold.it/350x65");
    }
  </style>

  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>Sign up</h1>
      <p>Blah blah blah subtitle bar thingy</p>
    </div>
  </header>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@user) do |f| %>
        <%= render "shared/error_messages", object: @user %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </p>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </p>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </p>
        <p>
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation,
            class: "form-control" %>
        </p>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</main>
