<% provide(:title, @user.name) %>
<main id="page-main">
  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1><%= @user.name %></h1>
    </div>
  </header>
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
      </h1>
      <p>Username: <%= @user.username %></p>
      <p class="project-location"><%= @user.email %></p>
      <p><time><%= @user.created_at %></time></p>
    </section>
  </aside>
</main>

<% if user_signed_in? && @user == current_user %>
<%= link_to "My Projects", projects_path(:userid => current_user.id) %><br/><!--TODO-->
<%= link_to "My Proposals", proposals_path %><br/>
<%= link_to "Edit", edit_user_registration_path %><br/>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>
<%= link_to "Back", :back %><br/>