<% provide(:title, @user.name) %>
<div id="users-show">
    <div class="container">
      <div class="row main-row">
        <div class="control-panel col-3">
          <div class="calling-card">
            <%= image_tag @user.image.url(:thumb), class: "profile-pic" %>
            <p class="user-name info-line"><%= @user.name || @user.username %></p>
          </div>
          <ul class="nav nav-pill quick-nav">
            <li><a class="nav-link active" data-toggle="pill" href="#profile">Profile</a></li>
            <li><a class="nav-link" data-toggle="pill" href="#jobs">Jobs</a></li>
            <li><a class="nav-link">Projects</a></li>
            <li><a class="nav-link">Teams</a></li>
            <li><a class="nav-link">Messages</a></li>
          </ul>
        </div>
        <main class="content-panes col-9">
          <div class="main-inner tab-content">
            <div class="tab-pane fade show profile-pane active" id="profile">
              <h2 class="pane-header">
                Profile
              </h2>
              <div class="pane-section profile-pane-basic">
                <%# Backend folks can make this section more dynamic %>
                <div class="pane-section-header">
                  <h3>Basic Info</h3>
                  <%= link_to "Edit", edit_user_registration_path, class: "edit-button" %>
                </div>
                <p class="profile-pane-cell">
                  <span>Email</span>
                  <%= @user.email %>
                </p>
                <p class="profile-pane-cell">
                  <span>Username</span>
                  <%= @user.username %>
                </p>
                <p class="profile-pane-cell">
                  <span>Name</span>
                  <%= @user.name %>
                </p>
                <p class="profile-pane-cell">
                  <span>Location</span>
                  <%= @user.location %>
                </p>
                <p class="profile-pane-cell">
                  <span>Short Bio</span>
                  <%= @user.biography %>
                </p>
              </div>
              <div class="pane-section profile-pane-experience">
                <div class="pane-section-header">
                  <h3>Skills &amp; Experiences</h3>
                  <%= link_to "Edit", edit_user_registration_path, class: "edit-button" %>
                </div>
                <%# Backend folks can make this section more dynamic %>
                <p class="profile-pane-cell">
                  <span>Top 3 Skills</span>
                  <%= @user.skills %>
                </p>
                <p class="profile-pane-cell">
                  <span>Experience</span>
                  <%= @user.experience %>
                </p>
                <p class="profile-pane-cell">
                  <span>Work</span>
                  <%= @user.work %>
                </p>
                <p class="profile-pane-cell">
                  <span>Passion</span>
                  <%= @user.passions %>
                </p>
                <p class="profile-pane-cell">
                  <span>Organization</span>
                  <%= @user.organization %>
                </p>
              </div>
            </div>
            <div class="tab-pane fade jobs-pane" id="jobs">
              <h2 class="pane-header">
                My Jobs
              </h2>
              <div class="projects-container">
                <%= render partial: "/projects/project", collection: @projects %>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
</div>
