<% provide(:title, "Change Your Password") %>
<div id="devise-passwords-edit" class="devise">
  <header id="devise-passwords-edit-header" class="devise-header">
    <div class="container">
      <h1>Change Your Password</h1>
    </div>
  </header>
  <main class="devise-main">
    <section class="container">
      <div class="center">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "devise-form", method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <div class="field">
            <%= f.label :password, "New password", class: "sr-only" %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "password123" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation, "Confirm new password", class: "sr-only" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password123" %>
          </div>
          <div class="actions">
            <%= f.submit "Change my password", class: "action" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </section>
  </main>
</div>
