<div class="pcard <% if not project.recruiting %> pcard-disabled <% end %>" data-project-url="<%= project_path(project) %>">
  <div class="pcard-img-container">
    <% if project.image.exists? %>
        <%= image_tag project.image.url(:medium), class: "pcard-img" %>
    <% else %>
          <%= image_tag "delta_logo.svg", class: 'svg pcard-logo' %>
    <% end %>
  </div>
  <div class="pcard-content">
    <h2 class="pcard-maintitle"><%= project.name %></h2>
    <h3 class="pcard-subtitle"><%= project.location %></h2>
    <h3 class="pcard-subtitle">By <%= User.find_by_id(project.user_id) %></h3>
  </div>
  <div class="pcard-footer">
    <div class="btn-fav-wrapper">
      <i class="btn-fav material-icons">favorite</i>
      <span class="fav-count">132</span>
    </div>
    <a class="btn btn-success" data-category-value="Infrastructure" href="#">Infrastructure</a>
  </div>
  <% if false # Commented out for now %>
    <% if user_signed_in? && project.user_id == current_user.id %>
      <div class="pcard-content">
        <h3 class="pcard-subtitle">Received Proposals:</h2>
        <%= render partial: "/proposals/proposal", collection: project.proposals %>
      </div>
    <% end %>
  <% end %>
</div>
