<% provide(:title, "Browse Projects") %>
<main id="page-main" class="projects projects-index">
  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>Browse Projects</h1>
      <p>Your change is right around the corner.</p>
      <%= form_tag(projects_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search', name: nil %>
      <% end %>
    </div>
  </header>
  <section id="main-section" class="container opt-section">
    <p class="text-center">Want to see your project on this page? <%= link_to "Post your project today!", post_path %></p>
    <article>
      <h2 class="article-header">Opportunities</h2>
      <ul class="opp-card-grid links-list">
        <div class="pcard" data-project-url="http://reddit.com"> <!-- This data attribute is used by javascript to allow the user to navigate to the right page if clicked -->
          <img class="pcard-img" src="http://newstorycharity.org/assets/img/locals/locals-construction-wide.jpg" />
          <div class="pcard-content">
            <h2 class="pcard-maintitle">Project Name</h2>
            <h3 class="pcard-subtitle">Project Location</h2>
            <h3 class="pcard-subtitle">By <a href="#0">OVOXO</a></h3>
          </div>
          <div class="pcard-footer">
            <div class="btn-fav-wrapper">
              <i class="btn-fav material-icons">favorite</i>
              <span class="fav-count">132</span>
            </div>
            <span class="main-category" data-category-value="Infrastructure">Infrastructure</span> <!-- Data-category is used so that JS can better recognize the category value -->
          </div>
        </div>
      <!-- <div> -->
        <!-- <% @projects.each do |project| %>
          <div class="card-body">
            <%= link_to project_path(project) do %>
              <img src="http://newstorycharity.org/assets/img/locals/locals-construction-wide.jpg" />
              <div class="card-content">
                <h2><%= project.name %></h2>
                <h2 class="card-subtitle"><%= project.location %></h2>
                <h2 class="card-org">by <a>newstory</a> </h2>
              </div>
              <div class="bottom-bar">
                <button class="btn-fav">
                    <span id="heart-icon" class="glyphicon glyphicon-heart"></span>
                </button>
                <p class="num-fav">0</p>
                <p class="main-category" data-category="Infrastructure">Infrastructure</p>
              </div>
            <% end %>
          </div>
        <% end %> -->
      </ul>
      <!-- </div> -->
    </article>
  </section>
</main><!-- End of page-main -->
