<% provide(:title, "Browse Projects") %>
<main id="page-main" class="projects projects-index">
  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>Browse Projects</h1>
      <p>Your change is right around the corner.</p>
      <%= form_tag(projects_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search', name: nil %>
      <% end %>
    </div>
  </header>
  <section id="main-section" class="container opt-section">
    <p class="text-center">Want to see your project on this page? <%= link_to "Post your project today!", post_path %></p>
    <article>
      <h2 class="article-header">Opportunities</h2>
      <ul class="opp-card-grid links-list">
      <!-- <div> -->
        <% @projects.each do |project| %>
          <div class="card-body">
          <%= link_to project_path(project) do %>
            <div>
              <img class="card-img" src="http://newstorycharity.org/assets/img/locals/locals-construction-wide.jpg">
              <!--<p class="btn-recruiting">$</p>-->
            </div>
            <div class="card-content">
              <a class="card-title"><%= project.name %></a>
              <h2 class="card-subtitle"><%= project.location %></h2>
              <h2 class="card-org">by <a>newstory</a> </h2>
            </div>
            <div class="bottom-bar">
              <div class="btn-fav">
                <div class="btn-box">
                  <span id="heart-icon" class="glyphicon glyphicon-heart"></span>
                </div>
                <p class="num-fav">0</p>
              </div>
              <div class="main-category category-infrastructure">
                <p>Infrastructure</p>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </ul>
      <!-- </div> -->
    </article>
  </section>
</main><!-- End of page-main -->
