<% provide(:title, "Browse Projects") %>
<main id="page-main" class="projects projects-index">

  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>Browse Projects</h1>
      <p>Your change is right around the corner.</p>
      <%= form_tag(projects_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search', name: nil %>
      <% end %>
    </div>
  </header>

  <section id="main-section" class="container opt-section">
    <p class="text-center">Want to see your project on this page? <%= link_to "Post your project today!", post_path %></p>
    <article>
      <h2 class="article-header">Opportunities</h2>
      <ul class="opp-card-grid links-list">
      <div>
        <% @projects.each do |project| %>
          <%= render project %>
        <% end %>
      </ul>
      </div>
    </article>
  </section>
</main><!-- End of page-main -->
