<% provide(:title, "Post Opportunities") %>
<div class="container col-xs-12">
  <h1>Post Your Opportunity!</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_for(@project, url: post_path) do |f| %>
        <%= render "shared/error_messages" %>

        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control",
                                value: Time.now.strftime('%Y-%m-%d') %>

        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control" %>

        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>

        <%= f.label :parameters %>
        <%= f.text_area :parameters, class: "form-control" %>

        <%= f.label :references %>
        <%= f.text_area :references, class: "form-control" %>

        <%= f.submit "Post my opportunity", class: "btn btn-primary" %>
      <% end %>

    <ol>
      <li>It may take up to 3 days for your opportunity's profile to appear on our website.</li>
      <li>Please note that we retain the option of not posting opportunities that are unaligned with our company's goals. We will contact you if we make such a decision.</li>
      <li>By sending images to us, you give us permission to use them on our website to help advertise your opportunity.</li>
    </ol>
    </div>
  </div>
</div>
