<main id="page-main">
    <style> /* These styles are page specific */
    #page-main-header {
      background-image: url(<%= @project.image.url(:medium) %>);
    }
  </style>

  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1 id="project-name"><%= @project.name %></h1>
      <p id="project-team">Project Team</p>
      <p id="project-location"><%= @project.location %></p>
      <time id="project-date"><%= @project.date %></time>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <section id="main-section" class="col-md-9">
        <article>
          <h4 class="list-inline-header sr-only">Tags:</h4>
          <ul id="tags" class="list-inline">
            <li class="btn btn-primary">Tag 1</li>
            <li class="btn btn-primary">Tag 2</li>
            <li class="btn btn-primary">Tag 3</li>
            <li class="btn btn-primary">Tag 4</li>
            <li class="btn btn-primary">Tag 5</li>
            <li class="btn btn-primary">Tag 6</li>
          </ul>
        </article>
        <article id="project-description">
          <h2 class="article-header">Description</h2>
          <p><%= @project.description %></p>
          <%= image_tag @project.image.url(:medium), class: "img-responsive img-rounded featured-img" %>
        </article>
        <article id="project-team">
          <h2 class="article-header">Team (Or Organization)</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
        </article>
      </section> <!-- End of main-section -->

      <section id="sidebar-section" class="col-md-3">
        <article id="project-contact">
          <div>
            <h4>Have a solution or want to get in touch?</h4>
            <button id="contact-btn" class="btn btn-primary-hollow btn-lg">
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              Contact</button>
          </div>
          <h4>Connect with us:</h4>
          <ul id="social-media-links" class="list-inline link-list">
						<li class="connect-link btn">
							<%= link_to image_tag("website.svg", alt: "Website", class: "img-responsive"),
													root_path %>
            </li>
						<li class="connect-link btn">
							<%= link_to image_tag("facebook.svg", alt: "Facebook", class: "img-responsive"),
													root_path %>
            </li>
						<li class="connect-link btn">
							<%= link_to image_tag("twitter.svg", alt: "Twitter", class: "img-responsive"),
													root_path %>
            </li>
          </ul>
        </article>
        <article id="projects-gallery">
          <h4>Related Projects</h4>
          <ul class="link-list">
            <li id="rp-1" class="related-project">
              <%= link_to image_tag(@project.image.url(:medium)),
                          root_path %>
            </li>
            <li id="rp-2" class="related-project">
              <%= link_to image_tag(@project.image.url(:medium)),
                          root_path %>
            </li>
            <li id="rp-3" class="related-project">
              <%= link_to image_tag(@project.image.url(:medium)),
                          root_path %>
            </li>
          </ul>
        </article>
      </section> <!-- End of sidebar-section -->
    </div>
  </div>
</main>
