<% provide(:title, "Sign In") %>
<div id="devise-sessions-new" class="devise">
  <header id="devise-sessions-new-header" class="devise-header">
    <div class="container">
      <h1>Sign In</h1>
    </div>
  </header>
  <main class="devise-main">
    <section class="container">
      <div class="center">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "devise-form" }) do |f| %>
          <div class="field">
            <%= f.label :email, class: "sr-only" %>
            <%= f.email_field :email, autofocus: true, placeholder: "email@example.com" %>
          </div>
          <div class="field">
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "password123" %>
          </div>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <div class="actions">
            <%= f.submit "Sign In", class: "action" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </section>
  </main>
</div>
