<p>
	<strong>Application:</strong><br/>
	Reason: <%= proposal.reason %><br/>
	Passions: <%= proposal.passions %><br/>
	Skills: <%= proposal.skills %><br/>
	Work: <%= proposal.work %><br/>
	Commitment: <%= proposal.commitment %><br/>
	Estimation: <%= proposal.estimation %><br/>
	LinkedIn: <%= proposal.linkedin %><br/>
	
  	<%= link_to "Project", project_path(:id => proposal.project_id) %><br/>
  	<%= link_to "Proposal", project_proposal_path(proposal.project_id, proposal.id) %>
</p>