<p>
	<strong>Content:</strong>
	<%= proposal.reason %>
	<%= proposal.passions %>
	<%= proposal.skills %>
	<%= proposal.work %>
	<%= proposal.commitment %>
	<%= proposal.estimation %>
	<%= proposal.linkedin %>
</p>