<% provide(:title, "New Proposal") %>
<main id="page-main" class="projects projects-new">
  <header id="page-main-header" class="jumbotron splash">
    <div class="container">
      <h1>Make a proposal!</h1>
      <p>Your change is right around the corner.</p>
    </div>
  </header>
  <section id="main-section" class="container opt-section">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= form_for :proposal, url: proposals_path do |f| %>
          <%= render "shared/error_messages", object: @proposal %>
          <p>
            <%= f.label :content %>
            <%= f.text_area :content, class: "form-control" %>
          </p>
        	<%= f.submit "Make my proposal", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </section>
</main>
