<% provide(:title, @proposal.user_id) %>
<p>
	<strong>Application:</strong><br/>
	Reason: <%= @proposal.reason %><br/>
	Passions: <%= @proposal.passions %><br/>
	Skills: <%= @proposal.skills %><br/>
	Work: <%= @proposal.work %><br/>
	Commitment: <%= @proposal.commitment %><br/>
	Estimation: <%= @proposal.estimation %><br/>
	Personal Website: <%= @proposal.website %><br/>
	LinkedIn: <%= @proposal.linkedin %><br/>
	Github: <%= @proposal.github %><br/>
	
  	<%= link_to "Project", project_path(:id => @proposal.project_id) %><br/>
<% if user_signed_in? && @proposal.user_id == current_user.id %>
	<%= link_to "Edit", edit_project_proposal_path(@proposal.project_id, @proposal.id) %>
<% end %>
</p>