<% provide(:title, @proposal.user_id) %>
<p>
	<strong>Application:</strong><br/>
	<%= @proposal.reason %><br/>
	<%= @proposal.passions %><br/>
	<%= @proposal.skills %><br/>
	<%= @proposal.work %><br/>
	<%= @proposal.commitment %><br/>
	<%= @proposal.estimation %><br/>
	<%= @proposal.linkedin %><br/>
	
  	<%= link_to "Project", project_path(:id => @proposal.project_id) %><br/>
<% if user_signed_in? && @proposal.user_id == current_user.id %>
	<%= link_to "Edit", edit_project_proposal_path(@proposal.project_id, @proposal.id) %>
<% end %>
</p>