<nav class="container">
  <div class="row">
    <div class="col-md-6">
      <header id="nav-header">
        <%= link_to image_tag("logo.png", alt: "Changenuity logo", id: "brand-logo"),
                    root_path %>
        <span id="handle" class="glyphicon glyphicon-align-justify"></span>
      </header>
    </div>
    <div class="col-md-6">
      <ul id="nav-list" class="links-list">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Post",   post_path %></li>
        <li><%= link_to "Browse", browse_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile",  current_user %></li>
            <li><%= link_to "Settings", root_path%></li>
            <li class="divider"></li>
            <li><%= link_to "Log out",  logout_path, method: "delete" %></li>
          </ul>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
