<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-custom">
    <%= link_to image_tag("logo.png", alt: "Changenuity logo"), root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Browse", browse_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Post", post_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="main-navbar-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="main-navbar-dropdown">
            <li>
              <%= link_to "Profile", root_path, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Settings", root_path, class: "dropdown-item" %>
            </li>
            <li class="dropdown-divider" role="separator">
            </li>
            <li>
              <%= link_to "Log out", root_path, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
