<div id="navbar-wrapper">
  <div class="container">
    <nav id="navbar">
      <%= link_to home_path, id: 'navbar-brand', class: 'check' do %>
        <%= image_tag "newLogo.svg", class: 'svg logo' %>
        <span class="brand-text">changenuity</span>
      <% end %>

      <div id="navbar-secondary">
        <%= link_to "https://join.slack.com/t/changenuity/shared_invite/enQtMzAyNDQ5ODM0MTQ5LTFjYWVlMWFjNjJhMzVhNDk4ZTQxNTI2Y2M5MmVlMDgxNjRlNGUyZWFjMjFhMWJhZTcwZGQ0YzNkODUwZDJiYzU", class: "secondary-navbar-button" do %>
          <%= image_tag "slack.svg", class: "svg slack-logo" %>
          Community
        <% end %>
        <% if user_signed_in? %>
          <% #TODO - Improve the window after user has logged in %>
          <%= link_to post_path, class: "secondary-navbar-button" do %>
            <i class="link-icon material-icons">add</i>
            Add Project
          <% end %>
          <button class="secondary-navbar-button nav-window-toggle">
            <i class="link-icon material-icons">face</i>
            <%= current_user.name ? current_user.name : current_user.username %>
          </button>
          <div class="navbar-window">
            <div class="content-wrapper">
              <%= image_tag current_user.image.url(:thumb) %>
            </div>
            <%= form_tag destroy_user_session_path, method: :delete, class: 'buttons-wrapper' do %>
              <button type="submit" class="btn btn-secondary">
                <i class="link-icon material-icons">exit_to_app</i>
                <span>Logout</span>
              </button>
              <%# Honestly the link should not be a part of the form, but oh well, I needed it to be a part of the 'buttons-wrapper container' %>
              <%= link_to user_path(current_user), class: "btn btn-primary" do %>
                <i class="link-icon material-icons">open_in_new</i>
                <span>Profile</span>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <button class="secondary-navbar-button nav-window-toggle">
            <i class="link-icon material-icons">account_box</i>
            <span>Login</span>
          </button>
          <%= form_for :user, url: session_path(:user), html:{ class:"navbar-window" } do |f| %>
            <div class="content-wrapper">
              <div class="form-widget">
                <%= f.label :email, "Email", class: "sr-only", for: "navbar-user-email"%>
                <%= f.text_field :email, class: "form-control", placeholder: "example@email.com", id: "navbar-user-email" %>
              </div>
              <div class="form-widget">
                <%= f.label :password, "Password", class: "sr-only", for: "navbar-user-password" %>
                <%= f.password_field :password, class: "form-control", placeholder: "password", id: "navbar-user-password", autocomplete: "off" %>
              </div>
              <div class="form-widget checkbox">
                <%= f.label :remember_me, for: "navbar-remember-me" do %>
                  <%= f.check_box :remember_me, id: "navbar-remember-me"%>
                  Remember me
                <% end %>
              </div>
              <%= link_to "Forgot your password?", new_password_path(:user), class: "d-block" %>
              <div class="buttons-wrapper">
                <%= link_to new_registration_path(:user), class: "btn btn-primary", id: "navbar-signup-button" do %>
                  Sign Up
                <% end %>
                <%= button_tag type: "submit", class: "btn btn-secondary" do %>
                  Sign In
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div><!-- navbar-secondary -->
      <i class="material-icons navbar-handle open-nav" data-component-id="navbar-primary">menu</i>
      <i class="material-icons navbar-handle open-nav" data-component-id="navbar-secondary">person_outline</i>
    </nav>
  </div>
</div>

<script>
document.getElementById("navbar-signup-button").addEventListener("click",
  function (e) {
    e.preventDefault();
    window.location = "<%= new_registration_path(:user) %>" + "?email="
      + document.getElementById("navbar-user-email").value;
  });
</script>
