<div id="navbar-wrapper">
  <div class="container">
    <nav id="navbar">
      <%= link_to home_path, id: 'navbar-brand', class: 'check' do %>
        <object type="image/svg+xml" data="<%= asset_path 'delta_logo' %>" class="logo">
          Logo
        </object>
        <span class="brand-text">Changenuity</span>
      <% end %>
      <ul id="navbar-primary" class="links-list">
        <li class="navbar-primary-link"><%= link_to "Discover", browse_path %></li>
        <li class="navbar-primary-link"><%= link_to "Discuss", '#' %></li>
        <li class="navbar-primary-link"><%= link_to "About", '#' %></li>
      </ul>
      <div id="navbar-secondary">
        <% if user_signed_in? %>
          <button class="form-toggle-show">
            <!-- <%= gravatar_for @user %> -->
            <%= current_user.name || current_user.username %>
          </button>
          <%= form_tag destroy_user_session_path, method: :delete do %>
            <button class="form-toggle-show">
              <i class="link-icon material-icons">account_box</i>
              <span>Logout</span>
            </button>
          <% end %>
        <% else %>
          <button class="form-toggle-show navbar-login-box">
            <i class="link-icon material-icons">account_box</i>
            <span>Login</span>
          </button>
        <% end %>
        <form class="navbar-login-form" action="" method="post">
          <div class="widgets-wrapper">
            <div class="form-widget">
              <label for="nav-user-email" class="sr-only">Email</label>
              <input type="email" id="nav-user-email" placeholder="example@email.com" name="user_email">
            </div>
            <div class="buttons-wrapper">
              <button type="submit" class="button-sign-up">
                <i class="material-icons button-icon">person_add</i>
                <span>Sign Up</span>
              </button>
              <button type="submit" class="button-sign-in">
                <i class="material-icons button-icon">launch</i>
                <span>Sign In</span>
              </button>
            </div>
          </form>
      </div>
      <!--
      <ul id="navbar-secondary" class="links-list">
        <li class="navbar-secondary-link">
          <%= link_to post_path do %>
            <i class="link-icon material-icons">add</i>
            Add Project
          <% end %>
        </li>
        <% if user_signed_in? %>
        <li>
          Signed in as <%= current_user.name || current_user.username %>
        </li>
        <li class="navbar-secondary-link">
          <%= link_to user_path(current_user.username) do %>
            <i class="link-icon material-icons">account_box</i>
            <span class="button-te">Profile</span>
          <% end %>
        </li>
        <li class="navbar-secondary-link">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="link-icon material-icons">account_box</i>
            <span class="button-te">Log out</span>
          <% end %>
        </li>
        <% else %>
        <li class="navbar-secondary-link">
          <%= link_to new_user_session_path do %>
            <i class="link-icon material-icons">account_box</i>
            <span class="button-te">Login</span>
          <% end %>
        </li>
        <% end %>
      </ul>
      <i class="material-icons navbar-handle open-nav" data-component-id="navbar-primary">menu</i>
      <i class="material-icons navbar-handle open-nav" data-component-id="navbar-secondary">person_outline</i>
    -->
    </nav>
  </div>
</div>
