<div id="navbar-wrapper">
  <div class="container">
    <nav id="navbar">
      <div id="navbar-brand">
        <%= link_to home_path do %>
          <!-- TODO: Make this more elegant -->
          <%= image_tag("logo-notext.png", alt: "Changenuity Logo", class: "brand-img type-dark") %>
          <%= image_tag("logo-notext-white.png", alt: "Changenuity Logo", class: "brand-img type-light") %>
          <span class="brand-text">Changenuity</span>
        <% end %>
      </div>
      <ul id="navbar-primary" class="links-list">
        <li class="navbar-primary-link"><%= link_to "Discover", browse_path %></li>
        <li class="navbar-primary-link"><%= link_to "Discuss", '#' %></li>
        <li class="navbar-primary-link"><%= link_to "About", '#' %></li><!-- Should the "About" page really be up here? -->
      </ul>
      <div id="navbar-secondary">
        <button class="form-toggle-show">
          <i class="link-icon material-icons">account_box</i>
          <span>Login</span>
        </button>
        <form class="navbar-login-form" action="" method="post">
          <div class="widgets-wrapper">
            <div class="form-widget">
              <label for="nav-user-email" class="sr-only">Email</label>
              <input type="email" id="nav-user-email" placeholder="example@email.com" name="user_email">
            </div>
            <div class="form-widget">
              <label for="nav-user-password" class="sr-only">Password</label>
              <input type="password" id="nav-user-password" placeholder="password" name="user_email">
            </div>
          </div>
          <div class="buttons-wrapper">
            <button type="submit" class="button-sign-up">
              <i class="material-icons button-icon">person_add</i>
              <span>Sign Up</span>
            </button>
            <button type="submit" class="button-sign-in">
              <i class="material-icons button-icon">launch</i>
              <span>Sign In</span>
            </button>
          </div>
        </form>
      </div>
      <i class="material-icons navbar-handle open-nav" data-component-id="navbar-primary">menu</i>
      <i class="material-icons navbar-handle open-nav" data-component-id="navbar-secondary">person_outline</i>
    </nav>
  </div>
</div>
